#l10n-client-form {
  margin: 1em;
  padding: 1em;
  border: 1px solid #adadad; 
}
#l10n-client-form .form-submit {
  margin-top: 0;
}

#l10n-client-form #edit-strings option.untranslated {
  background-color: #ffb6c1;
}
#l10n-client-form #edit-strings option.translated {
  background-color: #90ee90;
}
